In [1]:
import requests 
import pandas as pd 
from io import StringIO

In [2]:

# URL do arquivos CSV 
url_listings = 'https://data.insideairbnb.com/brazil/rj/rio-de-janeiro/2024-06-27/data/listings.csv'
url_calendar = 'https://data.insideairbnb.com/brazil/rj/rio-de-janeiro/2024-06-27/data/calendar.csv'
url_reviews = 'https://data.insideairbnb.com/brazil/rj/rio-de-janeiro/2024-06-27/data/reviews.csv'   

# Fazer o download do conteúdo do CSV 
response_listings = requests.get(url_listings) 
response_listings.raise_for_status() # Verifica se houve algum erro na requisição 

response_calendar = requests.get(url_calendar) 
response_calendar.raise_for_status()

response_reviews = requests.get(url_reviews) 
response_reviews.raise_for_status()

In [3]:
# Carregar o conteúdo do CSV em um DataFrames 
listings_bronze = pd.read_csv(StringIO(response_listings.text)) 
# # Exibir o DataFrame 
listings_bronze.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,17878,https://www.airbnb.com/rooms/17878,20240627045056,2024-06-28,city scrape,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",Please note that elevated rates applies for Ne...,This is the one of the bests spots in Rio. Bec...,https://a0.muscache.com/pictures/65320518/3069...,68997,...,4.91,4.77,4.67,NaN,f,1,1,0,0,1.88
1,25026,https://www.airbnb.com/rooms/25026,20240627045056,2024-06-28,city scrape,Beautiful Modern Decorated Studio in Copa,"**Fully renovated in Dec 2022, new kitchen, n...",Copacabana is a lively neighborhood and the ap...,https://a0.muscache.com/pictures/7c08fa4f-1d7b...,102840,...,4.92,4.84,4.62,NaN,f,1,1,0,0,1.70
2,220377,https://www.airbnb.com/rooms/220377,20240627045056,2024-06-27,city scrape,Suíte Casal (banheiro privativo),The apartment is cozy and well located. The r...,Tijuca is a residential neigbohood in Rio clos...,https://a0.muscache.com/pictures/992d8e44-0ef1...,1142424,...,4.80,4.80,5.00,NaN,f,3,0,3,0,0.03
3,35764,https://www.airbnb.com/rooms/35764,20240627045056,2024-06-28,city scrape,COPACABANA SEA BREEZE - RIO - 25 X Superhost,Our newly renovated studio is located in the b...,Our guests will experience living with a local...,https://a0.muscache.com/pictures/23782972/1d3e...,153691,...,4.95,4.94,4.89,NaN,f,1,1,0,0,2.85
4,223073,https://www.airbnb.com/rooms/223073,20240627045056,2024-06-28,city scrape,Modern Loft 1 • Ipanema Posto 9 • 500 mb,READ THE FREQUENTLY ASKED QUESTIONS BELOW AND ...,DON'T KNOW IPANEMA? HERE SOME INFORMATION FOR ...,https://a0.muscache.com/pictures/e56d7053-8f27...,503995,...,4.98,4.97,4.73,NaN,t,7,7,0,0,3.04

In [6]:
listings_bronze.shape

(34664, 75)

In [7]:
listings_bronze.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34664 entries, 0 to 34663
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            34664 non-null  int64
 1   listing_url                                   34664 non-null  object
 2   scrape_id                                     34664 non-null  int64
 3   last_scraped                                  34664 non-null  object
 4   source                                        34664 non-null  object
 5   name                                          34664 non-null  object
 6   description                                   33501 non-null  object
 7   neighborhood_overview                         17016 non-null  object
 8   picture_url                                   34664 non-null  object
 9   host_id                                       34664 non-null  int64
 10  host_url                                      34664 non-null  object
 11  host_name                                     34664 non-null  object
 12  host_since                                    34664 non-null  object
 13  host_location                                 27869 non-null  object
 14  host_about                                    16551 non-null  object
 15  host_response_time                            28879 non-null  object
 16  host_response_rate                            28879 non-null  object
 17  host_acceptance_rate                          31089 non-null  object
 18  host_is_superhost                             33796 non-null  object
 19  host_thumbnail_url                            34664 non-null  object
 20  host_picture_url                              34664 non-null  object
 21  host_neighbourhood                            28779 non-null  object
 22  host_listings_count                           34664 non-null  int64
 23  host_total_listings_count                     34664 non-null  int64
 24  host_verifications                            34664 non-null  object
 25  host_has_profile_pic                          34664 non-null  object
 26  host_identity_verified                        34664 non-null  object
 27  neighbourhood                                 17016 non-null  object
 28  neighbourhood_cleansed                        34664 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      34664 non-null  float64
 31  longitude                                     34664 non-null  float64
 32  property_type                                 34664 non-null  object
 33  room_type                                     34664 non-null  object
 34  accommodates                                  34664 non-null  int64
 35  bathrooms                                     33824 non-null  float64
 36  bathrooms_text                                34623 non-null  object
 37  bedrooms                                      34526 non-null  float64
 38  beds                                          33822 non-null  float64
 39  amenities                                     34664 non-null  object
 40  price                                         33692 non-null  object
 41  minimum_nights                                34664 non-null  int64
 42  maximum_nights                                34664 non-null  int64
 43  minimum_minimum_nights                        34664 non-null  int64
 44  maximum_minimum_nights                        34664 non-null  int64
 45  minimum_maximum_nights                        34664 non-null  int64
 46  maximum_maximum_nights                        34664 non-null  int64
 47  minimum_nights_avg_ntm                        34664 non-null  float64
 48  maximum_nights_avg_ntm                        34664 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              34327 non-null  object
 51  availability_30                               34664 non-null  int64
 52  availability_60                               34664 non-null  int64
 53  availability_90                               34664 non-null  int64
 54  availability_365                              34664 non-null  int64
 55  calendar_last_scraped                         34664 non-null  object
 56  number_of_reviews                             34664 non-null  int64
 57  number_of_reviews_ltm                         34664 non-null  int64
 58  number_of_reviews_l30d                        34664 non-null  int64
 59  first_review                                  26218 non-null  object
 60  last_review                                   26218 non-null  object
 61  review_scores_rating                          26218 non-null  float64
 62  review_scores_accuracy                        26209 non-null  float64
 63  review_scores_cleanliness                     26209 non-null  float64
 64  review_scores_checkin                         26209 non-null  float64
 65  review_scores_communication                   26209 non-null  float64
 66  review_scores_location                        26209 non-null  float64
 67  review_scores_value                           26207 non-null  float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              34664 non-null  object
 70  calculated_host_listings_count                34664 non-null  int64
 71  calculated_host_listings_count_entire_homes   34664 non-null  int64
 72  calculated_host_listings_count_private_rooms  34664 non-null  int64
 73  calculated_host_listings_count_shared_rooms   34664 non-null  int64
 74  reviews_per_month                             26218 non-null  float64
dtypes: float64(18), int64(23), object(34)
memory usage: 19.8+ MB

In [4]:
# Carregar o conteúdo do CSV em um DataFrames 
calendar_bronze = pd.read_csv(StringIO(response_calendar.text)) 
# # Exibir o DataFrame 
calendar_bronze.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,297908,2024-06-27,f,$250.00,NaN,2.0,1125.0
1,17878,2024-06-28,f,$350.00,NaN,5.0,28.0
2,17878,2024-06-29,f,$350.00,NaN,5.0,28.0
3,17878,2024-06-30,f,$350.00,NaN,5.0,28.0
4,17878,2024-07-01,f,$350.00,NaN,5.0,28.0

In [8]:
calendar_bronze.shape

(12652371, 7)

In [9]:
calendar_bronze.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12652371 entries, 0 to 12652370
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  float64
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 675.7+ MB

In [5]:
# Carregar o conteúdo do CSV em um DataFrames 
reviews_bronze = pd.read_csv(StringIO(response_reviews.text)) 
# # Exibir o DataFrame 
reviews_bronze.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,17878,64852,2010-07-15,135370,Tia,This apartment is in a perfect location -- two...
1,17878,76744,2010-08-11,10206,Mimi,we had a really great experience staying in Ma...
2,17878,91074,2010-09-06,80253,Jan,Staying in Max appartment is like living in a ...
3,17878,137528,2010-11-12,230449,Orene,In general very good and reasonable price.\r<b...
4,17878,147594,2010-12-01,219338,David,The apt was nice and in a great location only ...

In [10]:
reviews_bronze.shape

(773134, 6)

In [11]:
reviews_bronze.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 773134 entries, 0 to 773133
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     773134 non-null  int64
 1   id             773134 non-null  int64
 2   date           773134 non-null  object
 3   reviewer_id    773134 non-null  int64
 4   reviewer_name  773134 non-null  object
 5   comments       773110 non-null  object
dtypes: int64(3), object(3)
memory usage: 35.4+ MB

### Salvando as tabelas da camada bronze

In [31]:
folder_path = 'data\\bronze\\'

listings_bronze.to_parquet(folder_path + 'listings_bronze.parquet', engine='pyarrow', index=False)
calendar_bronze.to_parquet(folder_path + 'calendar_bronze.parquet', engine='pyarrow', index=False)
reviews_bronze.to_parquet(folder_path + 'reviews_bronze.parquet', engine='pyarrow', index=False)

In [30]:
print(folder_path + 'listings_bronze.parquet')

data\bronze\listings_bronze.parquet